### Rading and Writing Data In Text Format

* Parsing Fucntions in pandas

    - **read_csv** Load delimited data from a file, URL, or file-like object. Use comma as default delimiter
    - **read_table** Load delimited data from a file, URL, or file-like object. Use tab ('\t') as default delimiter
    - **read_fwf** Read data in fixed-width column format (that is, no delimiters)
    - **read_clipboard** Version of read_table that reads data from the clipboard. Useful for converting tables from web pages

* Overview of These functions --> which are meant to ocnvert text data to DataFrame. Usefule in following cases:
    - Indexing
    - Type infernece and Data conversion  -- **Important feature**
    - Dtatime parsing
    - Iteration
    - Unclean data issues

In [12]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('ex1.csv',sep=',')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
df = pd.read_csv('ex1.csv',sep=',',header=None)
df

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [16]:
df = pd.read_csv('ex1.csv',sep=',',header=None, names=['a','b','c','d','Message'])
df

   a   b   c   d  Message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [19]:
# We can also skip rows
pd.read_csv('ex1.csv',skiprows=[0,2],sep=',')

   1   2   3   4 hello
0  9  10  11  12   foo

* dataFrame object can also be used to write back to csv -- which we generally don't do
    - you can use this function for writing in csv --> data.tocsv('path/filename.csv') 
    - add the content by using coomand -->  !cat path/filename.csv
* here 'data' is dateFrame object

### Manually working with Delimited Formats

In [32]:
import csv
f = open('ex1.csv')
reader = csv.reader(f)
for line in reader:
    print (line)

['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']

In [36]:
lines = list(csv.reader(open('ex1.csv'))) # list is used Because '_csv.reader' object is not subscriptable
header,values = lines[0],lines[1:]

[['1', '2', '3', '4', 'hello'],
 ['5', '6', '7', '8', 'world'],
 ['9', '10', '11', '12', 'foo']]

In [39]:
data_dict = {h:v for h,v in zip(header,zip(*values))} # * will unstack the values of 'values'
data_dict

{'a': ('1', '5', '9'),
 'b': ('2', '6', '10'),
 'c': ('3', '7', '11'),
 'd': ('4', '8', '12'),
 'message': ('hello', 'world', 'foo')}

In [51]:
# Example of dialect

class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quoting = csv.QUOTE_ALL
    quotechar = '"'
reader = csv.reader(f, dialect = my_dialect)

In [52]:
# This can be also be used instead of defining a class
reader = csv.reader(f,delimiter='|')

### JSON Data

* JSON - JavaScript Object Notation

In [54]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
 {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""
import json

result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [55]:
# Converting JSON to DataFrame
siblings = DataFrame(result['siblings'],columns=['name','age','pet'])
siblings

    name  age    pet
0  Scott   25   Zuko
1  Katie   33  Cisco

### Interacting with Databases

* use an in-memory SQLite database using Python's built-in sqlite3 driver

OperationalError: unable to open database file